<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <meta name="description" content="Another Free Code Camp microservice">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Metadata Microservice
      </h1>
    </header>

    <main>
      <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" id="upl" name="upl" placeholder="No file chosen">
        <button type="submit">Submit</button>
      </form>
      <div id="size">
        
      </div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
  </body>
</html>
